/Backup Of placaMotores.pdsbak
/bestsave.rte
/placaMotores.DO
/placaMotores.EDF
/placaMotores.log
/placaMotores.pdsprj.Nectar-PC.Nectar.workspace
/placaMotores.sts
/Last Loaded placaMotores.pdsbak
placaMotores - CADCAM Bottom Copper.GBR
*.IPC
placaMotores - CADCAM READ-ME.TXT
